# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Database files
# *.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
# *.log

# Excel temp files
~$*.xlsx

# PyInstaller
# *.spec
